---
---
<header class="nav">
  <div class="nav-inner">
    <a class="brand" href="/">mark<span class="made">made</span><span class="dot"></span></a>
    <div class="nav-right">
      <a class="btn" href="#cta">Gespräch buchen <span class="arrow">→</span></a>
    </div>
  </div>
</header>
