---
---
<header class="nav">
  <div class="nav-inner">
    <a class="brand" href="/">mark<span class="made">made</span><span class="dot"></span></a>
    <nav class="menu">
      <a href="#">KI-Services <span class="chev">▾</span></a>
      <a href="#">Webdesign <span class="chev">▾</span></a>
      <a href="#">Branchen <span class="chev">▾</span></a>
    </nav>
    <div class="nav-right">
      <a class="ratgeber" href="#">Ratgeber</a>
      <a class="btn" href="#cta">Gespräch buchen <span class="arrow">→</span></a>
    </div>
  </div>
</header>
